<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="minesweeper.css" type="text/css">
</head>
<body>
    <div id="app" class="container">
        <minesweeper ref="game"></minesweeper>
        <minesweeper-config @apply="apply"></minesweeper-config>
    </div>
</body>
</html>

<script type="text/x-template" id="template-minesweeper">
    <div class="game" v-if="game">
        <div class="operations">
            <div class="counter">{{ game.mineCount - game.flagCount }}</div>
            <button class="reload" :class="state" @click="reset()"></button>
            <div class="counter">{{ timerCount }}</div>
        </div>
        <div class="board-frame">
            <div class="board" :style="`--width: ${game.width};`">
                <div 
                    v-for="cell in game.cells" 
                    :class="classes(cell)" 
                    :data-mine="mine(cell)" 
                    @click="open(cell)" 
                    @click.right.prevent="toggleFlag(cell)"
                    ></div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="template-minesweeper-config">
    <div class="setting">
        <form>
            <div>
                <label for="height">縦</label>
                <input type="number" name="height" v-model="config.height">
            </div>
            <div>
                <label for="width">横</label>
                <input type="number" name="width" v-model="config.width">
            </div>
            <div>
                <label for="mine">地雷</label>
                <input type="number" name="mine" v-model="config.mine">
            </div>
            <div>
                <button type="button" @click="apply">適用</button>
            </div>
        </form>
    </div>
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="minesweeper.js"></script>
<script src="minesweeper.vue.js"></script>
